p {
  color: #666666 !important;
}
.text-primary {
  color: #d0aa63 !important;
}

.text-secondary {
  color: #ece9e1 !important;
}

.bg-primary {
  background-color: #d0aa63 !important;
}
.bg-primary-light {
  background-color: #fff9e8 !important;
}

.button-primary,
.section-heading-line {
  background: #d0aa63;
}

.service-block-content-button {
  background: #d0aa63;
  border-color: #d0aa63;
}
a:hover {
  color: #d0aa63 !important;
}

.contact-icon-box i,
.primary-list li i {
  color: #d0aa63;
}
.service-block:hover .service-block-content-button i {
  color: #d0aa63;
}

.service-block-content-button:hover i {
  color: #d0aa63 !important;
}
.text-left .section-heading-line {
  background: #d0aa63;
}

.top-bar-info li {
  color: inherit;
}

.numb {
  background: #d0aa63;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 60px;
  line-height: 2.3;
}

.partner-img {
  width: 100%;
}

.partners {
  background-image: url("/img/bgs/bg2.png");
}

.footer-nav li {
  color: #999 !important;
  margin-top: 12px !important;
}
.footer-nav li a {
  color: #999 !important;
  font-size: 12px !important;
}

.footer-nav li a:hover {
  color: #d21825 !important;
}

.footer-news li span {
  color: #d6d6d6;
}

.custom-dot.active span {
  background: #d0aa63 !important;
}

.section-block-parallax {
  background-image: url("/img/banner-main.png") !important;
}

.socials a i {
  color: #999 !important;
  margin: 0 15px;
}

.socials a i:hover {
  color: #d0aa63 !important;
}

.breadcrumb-section {
  background-image: url("/img/banner-main.png") !important;
}

.numb-sm {
  border: 2px solid #1650f0;
  height: 60px;
  width: 60px;
  text-align: center;
}

.test-card {
  min-height: 260px;
}
.test-card2 {
  min-height: 380px;
}

.card-primary a {
  color: #1650f0 !important;
}
.card-primary a:hover {
  color: #1650f0 !important;
}

.why-train-card {
  min-height: 215px !important;
}

.bg-light-blue {
  background-color: #1e23630f !important;
}

.pricing-section-price h2 {
  color: #d0aa63 !important;
}

.pricing-section-advanced {
  background-color: #d0aa630d !important;
}

.pricing-section {
  border: 1px solid transparent !important;
}

.pricing-section-advanced {
  border: 2px solid transparent !important;
}

.pricing-section-price h2 sup {
  color: #bb712a !important;
}

.bg-white {
  background: white !important;
}

.prop {
  color: #444444;
}

.text-off-white {
  color: #999999 !important;
}

.pricing-section-price h3 {
  color: #d0aa63 !important;
  font-weight: bold !important;
}

.pricing-section-price h3 sup {
  color: #bb712a !important;
  font-weight: bold !important;
  text-decoration: double line-through;
}

.bg-dot-right {
  background-image: url("/img/content/business/bg-map.png") !important;
}

#trade-container2 {
  width: 100% !important;
}

#trade-container2 iframe {
  width: 100% !important;
}

#trade-container3 {
  width: 100% !important;
}

#trade-container3 iframe {
  width: 100% !important;
}

.contact-icon {
  color: #bb712a !important;
  margin-right: 20px !important;
}

.city-plan p {
  color: #aaaaaa !important;
}

.plan-image {
  border: 2px solid #d0aa63;
  border-radius: 10px;
  overflow: hidden;
}

.icon-sm {
  float: left !important;
}

.icon-text {
  display: inline-block !important;
  width: 80% !important;
  font-weight: bold !important;
  line-height: 1.5;
}

.section-backdrop {
  background-image: url("/img/backdrop.jpg") !important;
}

.overlay-clr {
  background-color: #222222ed !important;
}

.customizable-carousel .owl-prev,
.customizable-carousel .owl-next {
  background-color: #0000001c !important;
}

.owl-prev > i,
.owl-next > i {
  line-height: 18px !important;
}

.house-container {
  padding: 25px !important;
  background-color: white !important;
}

.house-img {
  padding: 15px !important;
  background-color: white !important;
}

.project-img {
  width: 100% !important;
  padding: 20px !important;
}

.property-card {
  background-color: #f6ecd2 !important;
  padding: 20px !important;
}

.property-card:hover {
  background-color: #d0aa63 !important;
  transition: all 0.2s ease-in !important;
}

.news-desc {
  background-image: url("/img/map.jpg");
  background-size: cover !important;
  background-blend-mode: lighten;
}

.navigation-fixed-wrapper {
  z-index: 2 !important;
}

.primary-form-2 {
  z-index: 1 !important;
}

.btn-slider {
  color: white;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 10px;
  background: #d0aa638c;
  border: 4px solid white;
}

.btn-slider:hover {
  color: white !important;
  padding: 0 30px !important;
  border-radius: 10px !important;
  background: #d0aa63 !important;
  border: 4px solid white !important;
}

.show {
  display: block;
}

.pswp__caption__center {
  text-align: center !important;
  font-size: 24px !important;
}

.commercial-cntr {
  max-height: 600px;
  overflow-y: scroll;
}

@media screen and (max-width: 766px) {
  .mt-sm {
    margin-top: 50px !important;
  }
  .p-img {
    order: 1 !important;
  }

  .p-text {
    order: 2 !important;
  }

  .house-container {
    padding: 5px !important;
    background-color: white !important;
  }

  .house-img {
    padding: 5px !important;
    background-color: white !important;
  }

  .commercial-cntr {
    max-height: 100% !important;
    overflow: visible !important;
  }
}

@media screen and (max-width: 938px) {
  .nav-header {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .team-box-3-info {
    width: 80%;
    margin-left: 0;
  }

  .breadcrumb-section {
    background-image: url("/img/banner-mobile.png") !important;
  }
}
